@import url('https://fonts.googleapis.com/css?family=Nunito');

body, html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

p, h1, h2, h3, h4 {
  font-family: "Nunito", sans-serif;
}

/* Reset input box styling */
input, button {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin:0;
  border:0;
  padding:0;
  display:inline-block;
  vertical-align:middle;
  white-space:normal;
  background:none;
  line-height:1;
  focus: none;
  font-size: 13px;
  font-family: "Nunito", sans-serif;
  outline: none;
}

button {
  cursor: pointer;
}

div.hidden {
  display: none !important;
}

div.conversation {
  display: flex;
  flex-direction: column;
}

button.inputNavButton {
  height: 50px;
  width: 50px;
  padding: 15px;
  position: relative;
}

button.inputNavButton path, rect {
  transition: 0.3s ease-in-out;
  fill: rgb(125, 124, 124);
}


button.active path {
  fill: #ffda44;
}


button.active::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  border-top: 1px solid #ffda44;
  margin-top: -1px;
  transition: 0.3s ease-in-out;
}
